$primary: #061F42;
$primary-light: #1f57a4;
$secondary: #6BDFFF;
$section-padding: clamp(60px, 10vw, 120px) 0;
.footer{
    background-color: $primary;
    padding: clamp(15px,3.5vw,48px);
    padding-bottom: clamp(30px,5vw,80px);
    .footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 36px;
        .footer-menu{
            display: flex;
            flex-direction: column;
            gap: clamp(24px,4.8vw,48px);
            li{
                a{
                    color: white;
                    font-size: clamp(18px,2vw,20px);
                    transition: all .3s ease;

                    &:hover{
                        color: $secondary;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .footer{
        .log{
            img{
                width: 200px;
                height: auto;
            }
        }
    }
}
@media (max-width:768px) {
    .footer{
        .log{
            img{
                width: 150px;
                height: auto;
            }
        }
    }
}